@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.form{
    display:flex;
}
.form_input{
    border-radius: 25px;
    cursor: text;
    margin: 5px 10px;
    font-family: 'Noto Sans JP';
    font-size:11pt;
    font-weight:400;
    color:#404040;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
    border:#ffffff;
    height:40px;
    -webkit-user-select: none;
    text-indent: 15px;
    outline: none;
    width:100%
}

.form_icon {
    -webkit-user-select: none;
    display:flex;
    align-items: center;
}

.form_icon img{
    max-width: 24px;
    max-height: 24px;
    cursor:pointer;
}