@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.message_box {
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 10px;
    font-family: 'Noto Sans JP';
    font-weight:500;
    display: inline-block;
    text-align: center;
    margin:5px;
    font-size:15pt;
    color:#ffffff;
}

.message_box_inner{

} 
