@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.heading_one{
    font-family: 'Noto Sans JP';
    font-size:32pt;
    font-weight:800;
    text-align: center;
    -webkit-user-select: none;
}