.circle_button {
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    display: flex;
}

.circle_button_inner {
    height:100%;
    width:100%;
    align-items: center;
    display:flex;
    justify-content: center;
    -webkit-user-select: none;
} 

.circle_button_inner img{
    max-width: 24px;
    max-height: 24px;
} 
